<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>
    <div class="container mt-5">
        <div class="text-center">
            <h1 th:text="${title}">Welcome to SavoryScript</h1>
            <p class="lead">Your online recipe and meal-plan library!</p>
            <a href="#" class="btn btn-custom">Get Started</a>
        </div>
    </div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
