<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">SavoryScripts</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <header th:insert="~{fragments/header :: header}"></header>
    <div class="container">
        <main th:fragment="content"></main>
    </div>
    <footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>
