<header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img th:src="@{/logo/logo.png}" alt="Logo" style="height: 40px;">
                SavoryScript
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <!-- Show Login and Register if user is NOT logged in -->
                    <li class="nav-item" th:if="${username == null}">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item" th:if="${username == null}">
                        <a class="nav-link" th:href="@{/register}">Register</a>
                    </li>
                    <!-- Show Logout if user IS logged in -->
                    <li class="nav-item" th:if="${username != null}">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
